@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Urbanist', sans-serif;
  scrollbar-width: none ;
}

::selection {
  background-color: #6ACC00 !important;
}
